/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

:root {
  --fc-button-active-bg-color: var(--mantine-primary-color-filled);
  --fc-button-active-border-color: var(--mantine-primary-color-filled);
}

.fc-toolbar-chunk {
  padding-bottom: 0.5rem;
}

.fc .fc-timegrid-slot {
  height: 4.375rem;
}

.fc .fc-toolbar-title {
  font-size: 1.35em;
}

.fc .fc-button {
  font-size: var(--button-fz, var(--mantine-font-size-sm));
}

.fc table {
  font-size: 0.9rem;
}

/* .fc .fc-timegrid-slot {
  height: 3.5em;
} */

/* .fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: var(--mantine-primary-color-filled);
  border-color: var(--mantine-primary-color-filled);
} */

.fc-toolbar,
.fc-col-header-cell-cushion {
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .fc-toolbar.fc-header-toolbar {
    display: flex;
    flex-direction: column;
  }
  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(1) {
    order: 3;
  }
  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    order: 1;
  }
  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
    order: 2;
  }
}

/* font-size: var(--button-fz, var(--mantine-font-size-sm)); */
